<div class="row small">
  <div *ngIf="validator" class="card w-100">
    <div class="card-body p-0">
      <div class="col-12 mt-3">
        <img class="row-logo" src="{{validator.info.image || '...'}}" alt="{{validator.info.name || '...'}}">
        <h6 class="card-title p-2 m-0 js-l">{{validator.info.name || '...'}}</h6>
        <p class="text-left description text-muted pt-2 mb-2">{{validator.info.description || '...'}}</p>
      </div>

      <div class="row row-container ml-3 mr-3">
        <div class="col-auto mr-auto p-0">
          <span class="text-muted">Current Interest APR</span>
        </div>
        <div class="col-auto p-0">
          <p class="success m-0">{{validator.reward.annual.toFixed(2) + '%' || '...'}}</p>
        </div>
      </div>

      <div class="row row-container ml-3 mr-3">
        <div class="col-auto mr-auto p-0">
          <span class="text-muted">Staked amount</span>
        </div>
        <div class="col-auto p-0">
          <p class="m-0">{{(stakedSum$ | async) || '...'}}</p>
        </div>
      </div>

      <div class="col-12 text-center pt-4 pb-4">
        <button class="btn btn-primary btn-lg col-12 mb-3" (click)="navigateToStake()">Stake</button>
        <button class="btn btn-secondary btn-lg col-12" (click)="navigateToUnStake()">Withdraw</button>
      </div>
    </div>
  </div>

</div>
