<div id="use-trust-message" class="d-flex flex-column justify-content-center align-items-center pt-2 header-bg vh-100">
  <img src="assets/images/trust_logo.svg" alt="trust">
  <div class="message p-2">TrustWallet is required to use Trust Platform.</div>
  <div class="d-flex flex-wrap justify-content-center align-items-center mt-2">
    <a class="open-trust mt-2" href="https://link.trustwallet.com/open_url?coin_id=60&url=https://platform.trustwallet.com">
      Open Trust Wallet
    </a>
  </div>
</div>
