<form [formGroup]="stakeForm" *ngIf="config | async as config">
  <div class="row small">
    <div class="card col-12 pt-2 pb-2 p-0">
      <div class="card-body p-1 mt-4 mb-4">
        <div class="col-12 text-center">
          <div>
            <div class="pb-4">
              <h5>Stake {{ config.currencySymbol }}</h5>
              <div class="col-12 available p-0 pb-1" (click)="setMax()">
                <span class="btn-link" *ngIf="max$ | async; let max"
                  ><span
                    >Available: {{ Math.floor(max.normal * 1000) / 1000 }}</span
                  ></span
                >
              </div>
            </div>

            <div
              *ngIf="stakeForm.controls.amount.valueChanges | async; let value"
              class=""
            ></div>
          </div>

          <div class="form-group mb-2">
            <div class="input-group input-group-lg">
              <input
                type="number"
                formControlName="amount"
                placeholder="Amount in {{ config.currencySymbol }}"
                class="form-control"
                aria-label="Large"
                [ngClass]="{ 'is-invalid': stakeForm.invalid }"
              />
            </div>
            <div class="feedback text-left">
              <div
                *ngIf="warn$ | async as warn"
                class="mt-2 warn-feedback d-block"
              >
                <div *ngIf="warn !== null">
                  The sum you have entered might not cover transaction fee.
                  Broadcasting transaction may fail.
                </div>
              </div>
              <div
                *ngIf="stakeForm.invalid"
                class="mt-2 invalid-feedback d-block"
              >
                <div *ngIf="stakeForm.controls.amount.errors?.max">
                  You don't have enough funds.
                </div>
                <div *ngIf="stakeForm.controls.amount.errors?.min">
                  Minimum deposit value is
                  {{ stakeForm.controls.amount.errors?.min }}
                </div>
              </div>
            </div>
          </div>

          <div class="col-12 mb-3 mt-2">
            <div class="row">
              <div class="col-7 p-0 text-left">
                <h6>New monthly earnings</h6>
                <span class="text-left d-block text-muted"
                  >Estimated from current rate</span
                >
              </div>

              <div class="col-5 text-right p-0">
                <span
                  class="success"
                  *ngIf="monthlyEarnings$ | async as monthlyEarnings"
                >
                  <h6 *ngIf="monthlyEarnings">
                    +{{ Math.floor(monthlyEarnings * 1000) / 1000 }}
                    {{ config.currencySymbol }}
                  </h6>
                </span>
              </div>
            </div>
          </div>

          <div class="col-12 text-center p-0">
            <loading-button
              (click)="stake()"
              [disabled]="stakeForm.invalid || !stakeForm.controls.amount.value"
              [loading]="isLoading"
            >
              Stake
            </loading-button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
