div {
  margin: 0.1rem 0 0.1rem 0;
}

.media-big {
  display: none;
}

.cards-big{
  display: inline-block;
  margin-right: 60px;
}

@media screen and (min-width: 600px) {
  .media-small {
    display: none
  }
  .media-big {
    display: inline-block;
  }
}
