.table-title {
  border-bottom: 1px solid #ccc;
}

.row-container {
  grid-template-columns: 50px 1fr 50px 100px 30px;
  grid-gap:5px;
  display: grid;
  justify-items: right;
  align-items: center;
  border-bottom: 1px solid #ccc;
}

.row-logo {
  max-width: 50px;
  max-height: 50px;
}

.js-l {
  justify-self: left;
}

.js-c {
  justify-self: center;
}
