.table-title {
  border-bottom: 1px solid #F2F2F2;
}

.row-logo {
  max-width: 36px;
  max-height: 36px;
  border-radius: 10px;
}

.js-l {
  display: inline-block;
  align-items: center;
  vertical-align: middle;
}

.js-r {
  position: absolute;
  right: 0;
}

.js-c {
  justify-self: center;
}

.white {
    color: white;
}

.description {
    font-size: 16px;
    line-height: 26px;
}

.balances-box {
    font-size: 17px;
    vertical-align: middle;
}

.balances-box > * > * {
  font-size: 17px;
  vertical-align: middle;
  margin: 0.5em;
  margin-top: 0 !important;
  margin-bottom: 1em;
}

.text-gray {
  color: #7F7F7F;
}
