
.table-title {
  border-bottom: 1px solid #F2F2F2;
}

.row-logo {
  max-width: 50px;
  max-height: 50px;
}

.js-l {
  justify-self: left;
}

.js-c {
  justify-self: center;
}

.white {
    color: white;
}

.description {
    font-size: 17px;
    margin-left: 0.2em;
    margin-right: 0.2em;
}

.balances-box {
    font-size: 17px;
    vertical-align: middle;
}

.balances-box > * > * {
  font-size: 17px;
  vertical-align: middle;
  margin: 0.5em;
  margin-top: 0 !important;
  margin-bottom: 1em;
}
