<div class="row small">
  <div class="col-12 pt-4">
    <div class="card">
      <div class="card-body p-2">
        <h6 class="card-title"> All Stakers</h6>
        <table class="table">
          <tbody>
          <ng-template ngFor let-item [ngForOf]="(validators)" let-i="index">
            <tr  (click)="navigateToMyStakeHoldersList(item)">
              <th scope="row"><img class="icon"
                                   src="{{item.info.image}}"
                                   alt="{{item.info.name}}">
              </th>
              <td>
                {{item.info.name}}
              </td>
              <td>{{item.reward.annual.toFixed(2)}}%</td>
              <td><i class="fas fa-chevron-right"></i></td>
            </tr>
            <tr>
          </ng-template>

          <!--            <th scope="row"><img class="icon "-->
          <!--                                 src="https://raw.githubusercontent.com/trustwallet/assets/master/blockchains/cosmos/validators/assets/cosmosvaloper1qwl879nx9t6kef4supyazayf7vjhennyh568ys/logo.png">-->
          <!--            </th>-->
          <!--            <td>Certus One-->
          <!--            </td>-->
          <!--            <td>9.08%</td>-->
          <!--            <td><i class="fas fa-chevron-right"></i></td>-->
          <!--          </tr>-->

          <!--          <tr>-->
          <!--            <th scope="row"><img class="icon" src="../../assets/img/cosmos.png" alt="Cosmos"></th>-->
          <!--            <td>Polychain Labs-->
          <!--            </td>-->
          <!--            <td>8.30%</td>-->
          <!--            <td><i class="fas fa-chevron-right"></i></td>-->
          <!--          </tr>-->
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
