<div class="mb-3">
  <div class="col-12 text-right mt-3">
    <img
      src="assets/images/close.svg"
      aria-label="Close"
      (click)="close('Cross click')"
      aria-hidden="true"
    />
  </div>
  <div class="text-center">
    <h4 class="modal-title font-weight-bolder" id="modal-basic-title">
      Connect wallet
    </h4>
    <div class="text-muted">To start using Trust Platform</div>
    <div class="list-group mt-4 list-group-flush">
      <div
        (click)="provider.active ? onSelect(provider) : null"
        id="use-{{provider.id}}"
        class="provider list-group-item"
        [ngClass]="{ 'list-group-item-action': provider.active }"
        *ngFor="let provider of providers | async"
      >
        <div class="d-flex">
          <div class="d-flex justify-content-start align-self-center">
            <img
              class="align-self-center"
              src="assets/images/{{ provider.icon }}"
            />
            <div class="align-self-center ml-2">
              <div class="item_name text-left text-dark">
                {{ provider.name }}
              </div>
              <small class="d-block text-muted text-left item_description">{{
                provider.description
              }}</small>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="text-muted text-left mt-3 ml-4">
      *By connecting your wallet you agree on that Trust Wallet is not
      responsible for any investment risks.
    </div>
  </div>
</div>
