<div class="mb-3 p-2">
  <div class="col-12 text-right mt-3">
    <img
      src="assets/images/close.svg"
      aria-label="Close"
      (click)="close('Cross click')"
      aria-hidden="true"
    />
  </div>
  <div class="pb-4 text-center ml-5 mr-5">
    <h4 class="modal-title" id="modal-basic-title">
      Connect wallet
    </h4>
    <div class="text-muted">to start using TrustWallet</div>
    <div class="list-group mt-4 list-group-flush ml-4 mr-5">
      <div
        (click)="provider.active ? onSelect(provider) : null"
        class="provider list-group-item"
        [ngClass]="{ 'list-group-item-action': provider.active }"
        *ngFor="let provider of providers | async"
      >
        <div class="d-flex justify-content-between">
          <div class="d-flex justify-content-start align-self-center">
            <img
              class="align-self-center"
              src="assets/images/{{ provider.icon }}"
            />
            <div class="align-self-center ml-2">
              <div class="item_name text-left text-dark">
                {{ provider.name }}
              </div>
              <small class="d-block text-muted text-left item_description">{{
                provider.description
              }}</small>
            </div>
          </div>
          <div class="ow justify-content-center align-self-center">
            <i class="text-primary fa fa-chevron-right"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
