.provider {
  cursor: default;
}

.trust {
  width: 120px;
  height: 120px;
}

.item_description {
  line-height: 17px;
}

.item_name {
  line-height: 17px;
}

.list-group-flush li:last-child,
div.list-group-item:last-child {
  border-bottom: none;
}
