<div>
  <div class="text-center text-sm-left header-bg p-3">
    <div class="container">
      <div class="d-flex justify-content-between">
        <div class="logo">
          <a routerLink="/"
            ><img src="assets/images/trust_logo.svg" alt="trust"
          /></a>
        </div>
        <div
          class="menu d-flex align-content-center"
          *ngIf="loggedWith | async as logged; else login"
        >
          <button
            *ngIf="logged.id !== 'trustwallet'"
            class="btn btn-light text-left btn-sm logout"
            (click)="logout()"
          >
            <div>
              <img
                class="icon"
                src="assets/images/{{ logged.icon }}"
                alt="trust"
              />
              Connected
              <i class="fa fa-sign-out"></i>
            </div>
          </button>
        </div>
        <ng-template #login>
          <div class="menu d-flex align-content-center">
            <button id="connectBtn"
              class="btn btn-outline-light btn-sm"
              (click)="connectWallet()"
            >
              Connect Wallet
            </button>
          </div>
        </ng-template>
      </div>
    </div>
  </div>

  <div class="header-bg pt-1 pb-5">
    <div class="container">
      <app-coin-account-info></app-coin-account-info>
    </div>
  </div>

  <div class="override p-2">
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
