<div *ngIf="myStakeHolders$ | async" class="row small mb-2">
  <div class="col-12 p-0">
    <div class="card">
      <div class="card-body p-0">
        <h6 class="table-title p-2 m-0">Supplying</h6>
        <ng-template ngFor let-item [ngForOf]="myStakeHolders$ | async" let-i="index">
          <div (click)="navigateToMyStakeHoldersList(item)" class="row row-container pb-1 pt-1">
            <div class="col-8 pl-1">
              <img class="m-2 row-logo" src="{{ item.info.image }}" alt="cosmos"/>
              <div class="js-l">
              <span>{{ item.info.name }}</span>
              <span class="success">{{ item.reward.annual | number: "1.2-2" }}%</span>
              </div>
            </div>
            <div class="col-auto js-r pr-1 mr-3">
              <span>{{ item.amount }} {{ item.coin.currencySymbol }}</span>
            </div>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>

<div class="row small">
  <div class="col-12 p-0">
    <div class="card">
      <div class="card-body p-0">
        <h6 class="table-title p-2 m-0">Coins</h6>
        <ng-template ngFor let-item [ngForOf]="blockchains" let-i="index">
          <div (click)="navigateToPosDelegatorsList(item)" class="row row-container pb-1 pt-1" *ngIf="annuals[item.network] | async; let annual">
            <div class="col-6 col-auto mr-auto pl-1">
              <img class="m-2 row-logo" src="{{ item.iconUri }}" alt="{{ item.currencyName }}" />
              <span>{{ item.currencyName }} </span>
              <span class="text-gray">{{ item.currencySymbol }}</span>
              <ng-container *ngIf="addresses[item.network] | async; let address">
                <div class="add-coin" *ngIf="address === true">
                  Add coin in Wallet menu
                </div>
              </ng-container>
            </div>
            <div class="col-auto pr-1 mr-3">
              <span class="success">{{ annual | number: "1.2-2" }}{{ annual && "%" }}</span>
            </div>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>
