<div class="col-12 text-center pt-2">
  <div class="input-group input-group-lg">
    <div class="input-group-prepend">
    </div>
    <input #input placeholder="Enter ATOM to stake or unstake" type="number" class="form-control" aria-label="Large"
           aria-describedby="inputGroup-sizing-sm">
  </div>
</div>
<button (click)="stake()" class="btn btn-lg btn-info btn-stake">STAKE</button>
<h5>
  {{x}}
</h5>
<!--<button (click)="unStake()" class="btn btn-lg btn-danger btn-stake">UNSTAKE</button>-->
