<app-listview
  header="All {{ blockchain }} markets"
  [dataSource]="validators$"
  [placeholdersCount]="10"
  (select)="click($event)"
>
  <ng-container *item="let item">
    <app-block-between>
      <ng-template left>
        <app-label [image]="item.info.image" alt="item.info.name">
          <ng-template content>
            <small>{{ item.info.name }}</small>
          </ng-template>
        </app-label>
      </ng-template>
      <ng-template right>
        <small class="success text-nowrap"
          >{{ item.reward.annual.toFixed(2) }}%
          <span class="ml-1"
            ><i class="mr-0 text-muted fa fa-chevron-right"></i></span
        ></small>
      </ng-template>
    </app-block-between>
  </ng-container>
  <ng-template placeholder>
    <div class="pb-3 pt-3 pl-3">
      <app-stake-placeholder></app-stake-placeholder>
    </div>
  </ng-template>
</app-listview>
