<app-listview
  header="Staked"
  [dataSource]="myStakeHolders$"
  [placeholdersCount]="1"
  (select)="navigateToMyStakeHoldersList($event)"
  class="small"
>
  <ng-container *item="let item">
    <app-block-between>
      <ng-template left>
        <app-label [image]="item.info.image">
          <ng-template content>
            <span>{{ item.info.name }}</span>
            <span class="success"
              >{{ item.reward.annual | number: "1.2-2" }}%</span
            >
          </ng-template>
        </app-label>
      </ng-template>
      <ng-template right>
        <div class="text-nowrap">
          <span>{{ item.amount }} {{ item.coin.currencySymbol }}</span>
          <span class="ml-2"
            ><i class="text-muted fa fa-chevron-right"></i
          ></span>
        </div>
      </ng-template>
    </app-block-between>
  </ng-container>
  <ng-template noitems>
    <div class="m-3">The stakes list is empty</div>
  </ng-template>
  <ng-template placeholder>
    <div class="pb-3 pt-3 pl-3">
      <app-stake-placeholder></app-stake-placeholder>
    </div>
  </ng-template>
</app-listview>

<app-listview
  header="Available"
  [dataSource]="blockchains$"
  [placeholdersCount]="1"
  (select)="navigateToPosDelegatorsList($event.item)"
  class="d-block mt-2"
>
  <ng-container *item="let blockchain">
    <app-block-between>
      <ng-template left>
        <app-label
          [image]="blockchain.item.iconUri"
          [alt]="blockchain.item.currencyName"
        >
          <ng-template content>
            <span>{{ blockchain.item.currencyName }} </span>
            <span class="text-muted">{{ blockchain.item.currencySymbol }}</span>
            <div *ngIf="blockchain.pending > 0">
              <span>
                Pending: {{ blockchain.pending }}
                {{ blockchain.item.currencySymbol }}s
              </span>
              <span> to {{ blockchain.unstakingDate | date }} </span>
            </div>
          </ng-template>
        </app-label>
      </ng-template>
      <ng-template right>
        <span class="success text-nowrap"
          >{{ blockchain.annual | number: "1.2-2"
          }}{{ blockchain.annual && "%" }}
          <span class="ml-1"
            ><i class="text-muted fa fa-chevron-right"></i></span
        ></span>
      </ng-template>
    </app-block-between>
  </ng-container>
  <ng-template noitems>
    <div class="m-3">The chains list is empty</div>
  </ng-template>
  <ng-template placeholder>
    <div class="pb-3 pt-3 pl-3">
      <app-stake-placeholder></app-stake-placeholder>
    </div>
  </ng-template>
</app-listview>

<app-listview
  header="Coming soon"
  [dataSource]="upcomings"
  [placeholdersCount]="3"
  class="d-block mt-2"
>
  <ng-container *item="let upcoming">
    <app-block-between>
      <ng-template left>
        <app-label [image]="upcoming.iconUri" [alt]="upcoming.name">
          <ng-template content>
            <span class="mr-1">{{ upcoming.name }}</span>
            <span class="text-muted">{{ upcoming.symbol }}</span>
            <div class="success">
              <small>{{ upcoming.message }}</small>
            </div>
          </ng-template>
        </app-label>
      </ng-template>
      <ng-template right>
        <span class="success text-nowrap">
          <span class="ml-1"
            ><i class="text-muted fa fa-chevron-right"></i></span
        ></span>
      </ng-template>
    </app-block-between>
  </ng-container>
  <ng-template noitems>
    <div class="m-3">The chains list is empty</div>
  </ng-template>
  <ng-template placeholder>
    <div class="pb-3 pt-3 pl-3">
      <app-stake-placeholder></app-stake-placeholder>
    </div>
  </ng-template>
</app-listview>
