<app-listview
  header="Available"
  [dataSource]="blockchains$"
  [placeholdersCount]="coinsCount"
  (select)="navigateToDetails($event.item)"
  class="d-block mt-2"
>
  <ng-template section>
    <app-block-between>
      <ng-template left>Coins</ng-template>
      <ng-template right>Current APY</ng-template>
    </app-block-between>
  </ng-template>
  <ng-container *item="let blockchain">
    <app-block-between>
      <ng-template left>
        <app-label
          [image]="blockchain.item.iconUri"
          [alt]="blockchain.item.currencyName"
        >
          <ng-template content>
            <div>{{ blockchain.item.currencyName }}</div>
            <div class="text-muted small">
              Available: {{ blockchain.available }}
            </div>
          </ng-template>
        </app-label>
      </ng-template>
      <ng-template right>
        <span class="success text-nowrap"
          >{{ blockchain.annual | number: "1.2-2"
          }}{{ blockchain.annual && "%" }}
          <span class="ml-1"
            ><i class="text-muted fa fa-chevron-right"></i></span
        ></span>
      </ng-template>
    </app-block-between>
  </ng-container>
  <ng-template noitems>
    <div class="m-3">The chains list is empty</div>
  </ng-template>
  <ng-template placeholder>
    <div class="pb-2 pt-2 pl-3">
      <app-stake-placeholder></app-stake-placeholder>
    </div>
  </ng-template>
  <ng-template footer>
    <app-listview
      [dataSource]="upcomings"
      [placeholdersCount]="3"
      [containerized]="false"
    >
      <ng-template section>
        Coming soon
      </ng-template>
      <ng-container *item="let upcoming">
        <app-block-between>
          <ng-template left>
            <app-label [image]="upcoming.iconUri" [alt]="upcoming.name">
              <ng-template content>
                <span class="mr-1">{{ upcoming.name }}</span>
                <div class="text-muted small">
                  <small>{{ upcoming.message }}</small>
                </div>
              </ng-template>
            </app-label>
          </ng-template>
          <ng-template right>
            <span class="success text-nowrap">
              <span class="ml-1"
                ><i class="text-muted fa fa-chevron-right"></i></span
            ></span>
          </ng-template>
        </app-block-between>
      </ng-container>
      <ng-template noitems>
        <div class="m-3">The chains list is empty</div>
      </ng-template>
      <ng-template placeholder>
        <div class="pb-3 pt-3 pl-3">
          <app-stake-placeholder></app-stake-placeholder>
        </div>
      </ng-template>
    </app-listview>
  </ng-template>
</app-listview>
