<ng-container *ngIf="config | async as config">
  <app-content header="Stake {{ config.currencyName }}">
    <ng-template content>
      <app-shared-staking
        [config]="config"
        [formatMax]="formatMax"
        [hasProvider]="hasProvider"
        [balance]="balance"
        [info]="info"
        [prepareTx]="prepareTx"
        [max]="0.01"
        [price]="price"
        [validators]="validators"
        [amount]="balance"
      >
        <ng-template input>
          <h4 class="mt-3">
            <span class="text-muted">{{ balance | async }} XTZ</span>
          </h4>
        </ng-template>

        <ng-template action let-isLoading="isLoading" let-stake="stake">
          <loading-button (action)="stake()" [loading]="isLoading">
            Stake
          </loading-button>
        </ng-template>
      </app-shared-staking>
    </ng-template>
  </app-content>
</ng-container>
