<form [formGroup]="stakeForm">
  <div class="row small">
    <div class="card col-12 p-0">
      <div class="card-body">
        <div class="col-12 text-center">
          <div>
            <div class="pb-3">
              <h5>
                Enter amount to stake
              </h5>
            </div>

            <div
              *ngIf="stakeForm.controls.amount.valueChanges | async; let value"
              class="pb-3"
            >
            </div>
          </div>

          <div class="form-group">
            <div class="input-group input-group-lg">
              <input
                formControlName="amount"
                placeholder="Amount in ATOM"
                class="form-control"
                aria-label="Large"
                [ngClass]="{ 'is-invalid': stakeForm.invalid }"
              />
              <div class="input-group-append" (click)="setMax()">
                <span
                  class="btn btn-outline-primary"
                  *ngIf="max$ | async; let max"
                  ><span class="small">Max: {{ Math.floor(max * 1000) / 1000 }}</span></span
                >
              </div>
            </div>
            <div *ngIf="stakeForm.invalid" class="invalid-feedback d-block">
              <div *ngIf="stakeForm.controls.amount.errors?.max">
                You don't have enough funds.
              </div>
              <div *ngIf="stakeForm.controls.amount.errors?.fill">
                Incorrect value
              </div>
            </div>
          </div>
          <div class="col-12 text-center p-0">
            <loading-button
              (click)="stake()"
              [disabled]="stakeForm.invalid || !stakeForm.controls.amount.value"
              [loading]="isLoading">
              Stake
            </loading-button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
