<app-content>
  <ng-template content>
    <ng-container *ngIf="details$ | async as details; else loadingValidator">
      <div class="col-12 mt-3">
        <img
          class="row-logo"
          src="{{ details.validator.info.image || '...' }}"
          alt="{{ details.validator.info.name || '...' }}"
        />
        <h6 class="card-title p-2 m-0 js-l">
          {{ details.validator.info.name || "..." }}
        </h6>
        <p class="text-left description text-muted pt-2 mb-2">
          {{ details.validator.info.description || "..." }}
        </p>
      </div>

      <div class="row row-container ml-3 mr-3">
        <div class="col-auto mr-auto p-0">
          <span class="text-muted">Current Interest APY</span>
        </div>
        <div class="col-auto p-0">
          <p class="success m-0">
            {{ details.validator.reward.annual.toFixed(2) + "%" || "..." }}
          </p>
        </div>
      </div>

      <div
        class="row row-container ml-3 mr-3"
        *ngFor="let additional of details.additionals"
      >
        <div class="col-auto mr-auto p-0">
          <span class="text-muted">{{ additional.name }}</span>
        </div>
        <div class="col-auto p-0">
          <p class="m-0">{{ additional.value }}</p>
        </div>
      </div>

      <div class="row row-container ml-3 mr-3">
        <div class="col-auto mr-auto p-0">
          <span class="text-muted">Staked Amount</span>
        </div>
        <div class="col-auto p-0">
          <p class="m-0">{{ details.stakedSum }}</p>
        </div>
      </div>

      <div class="col-12 text-center pt-4 pb-4">
        <button
          class="btn btn-primary btn-lg col-12 mb-3"
          (click)="navigateToStake(details.hasProvider)"
        >
          Stake
        </button>
        <button
          *ngIf="details.hasProvider && details.unstakeEnabled"
          class="btn btn-secondary btn-lg col-12"
          (click)="navigateToUnStake()"
        >
          Withdraw
        </button>
      </div>
    </ng-container>
    <ng-template #loadingValidator>
      <div class="pl-5 pr-5 pt-5 pb-0">
        <app-content-placeholder></app-content-placeholder>
      </div>
    </ng-template>
  </ng-template>
</app-content>
