.row-first {
  border-top: 0 !important;
}

.row-container {
  border-top: 1px solid #dbe3ea;
  border-bottom: 0;
  vertical-align: middle;
  align-items: center;
  padding: 15px 0 15px 0;
}

.withdraw {
  border-color: #ccd7e1;
  border-width: 0.5px;
}

.withdraw-locked {
  font-size: 10px;
}
