<ng-container *ngIf="details$ | async as details; else loadingValidator">
  <ng-template #defaultWihdrawButton>
    <button
      *ngIf="details.hasProvider"
      [disabled]="!details.unstakeEnabled"
      class="btn btn-outline-primary btn-lg col-12 withdraw"
      (click)="navigateToUnStake()"
    >
      <div>Withdraw</div>
      <div
        *ngIf="!details.unstakeEnabled && releaseDate | async as releaseDate"
        class="text-muted withdraw-locked"
      >
        Available in {{ releaseDate }}
      </div>
    </button>
  </ng-template>

  <ng-template #defaultStakeButton>
    <button
      class="btn btn-primary btn-lg col-12 mb-2"
      (click)="navigateToStake(details.hasProvider)"
    >
      Stake
    </button>
  </ng-template>

  <app-label
    [image]="details.config.iconUri"
    [alt]="details.config.currencyName"
    class="d-block ml-3 mt-3"
  >
    <ng-template content>
      <span>{{ details.config.currencyName }}</span>
      <span class="text-muted">
        {{ details.config.currencySymbol }}
      </span>
    </ng-template>
  </app-label>
  <div class="col-12 text-center pt-3">
    <ng-container
      *ngTemplateOutlet="
        stakeTemplate ? stakeTemplate : defaultStakeButton;
        context: { $implicit: details }
      "
    ></ng-container>
    <ng-container *ngIf="details.unstakeVisible">
      <ng-container
        *ngTemplateOutlet="
        withdrawTemplate ? withdrawTemplate : defaultWihdrawButton;
        context: { $implicit: details }
      "
      ></ng-container>
    </ng-container>
  </div>
  <div
    class="row row-container ml-3 mr-3" [class.row-first]="i == 0"
    *ngFor="let additional of details.additionals; index as i"
  >
    <div class="col-auto mr-auto p-0">
      <span class="text-muted">{{ additional.name }}</span>
    </div>
    <div class="col-auto p-0">
      <p class="m-0">{{ additional.value }}</p>
    </div>
  </div>

</ng-container>
<ng-template #loadingValidator>
  <div class="pl-5 pr-5 pt-5 pb-0">
    <app-content-placeholder></app-content-placeholder>
  </div>
</ng-template>
