<div class="balances-box card-body p-0 d-flex justify-content-between">
  <div>
    <div>My Balance</div>
    <div>Staked</div>
  </div>

  <!-- TODO: *ngIf else -->
  <div *ngIf="!(fiatDetails$ | async)">
    <div>...</div>
    <div>...</div>
  </div>

  <div *ngIf="(fiatDetails$ | async)">
    <div>{{ ((fiatDetails$ | async).balance | currency:'USD':'symbol':'4.2-2') || '...' }} </div>
    <div>{{ ((fiatDetails$ | async).staked  | currency:'USD':'symbol':'4.2-2') || '...' }}</div>
  </div>
</div>
