/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/scss/functions";
@import "assets/sass/variables";
@import "~bootstrap/scss/bootstrap";
@import "~roboto-fontface/css/roboto/sass/roboto-fontface";
@import "~font-awesome/scss/font-awesome";

body {
  background-color: $light !important;
  font-family: Roboto-Light;
}

.override {
  top: -45px;
  position: relative;
}

.header-bg {
  background: $primary;
}

.success {
  color: $success;
  display: block;
}

.icon-color {
  color: $icon;
}

.header-cards {
  background: none;
  color: $white;
}

.cards {
  background: $alpha-white;
}

.text-alpha {
  color: $alpha-white;
}

// btns
.btn-primary {
  background-color: $primary !important;
  border: 1px solid $primary !important;
}

.btn-primary:hover {
  background-color: $primary-desat !important;
  border: 1px solid $primary !important;
}

.btn-secondary {
  color: $primary !important;
  background-color: $gray-200 !important;
  border: 1px !important;
}
.btn-secondary:hover {
  color: $primary !important;
  background-color: $gray-300 !important;
  border: 1px !important;
}

.btn-link {
  color: $primary !important;
  cursor: pointer;
  text-decoration: none !important;
  font-size: 15px;
}

.feedback {
  min-height: 28px;
  position: relative;
  overflow: hidden;
}

.available {
  min-height: 30px;
  display: block;
}

.row-container {
  border-top: 0.5px solid $border;
}

.fa {
  -webkit-text-stroke: 1px white;
}
