<div class="row small">

  <div *ngIf="validator" class="card">
    <div class="card-body p-2">
      <div class="col-12 text-center">
        <img style="width: 90px"
             src="{{validator.info.image || '...'}}"
             alt="{{validator.info.name || '...'}}">
      </div>
      <div class="text-center pt-1">
        <p class="description">{{validator.info.description || '...'}}</p>
      </div>
      <div style="display: grid; grid-template: 1fr 1fr  / 1fr 1fr;"
           class="col-12 text-center pt-2">
        <div>
          <h5>Annual Rate (APR)</h5>
        </div>
        <div>
          <h5>Staked amount</h5>
        </div>
        <div>
          <p class="metric">{{validator.reward.annual.toFixed(2) + '%' || '...'}}</p>
        </div>
        <div>
          <p class="metric">{{(stakedSum | async) || '...'}}</p>
        </div>
      </div>
      <div class="col-12 text-center pt-4 pb-4">
        <button class="btn btn-primary btn-lg col-12 mb-4" (click)="navigateToStake()">STAKE</button>
        <button class="btn btn-outline-primary btn-lg col-12" (click)="navigateToUnStake()">UNSTAKE</button>
      </div>
    </div>
  </div>

</div>

