<div class="container pt-2">
  <div class="row small">
    <div class="col-12 pt-2">
      <div *ngIf="validator" class="card">
        <div  class="card-body p-2">
          <div class="col-12 text-center">
            <img style="width: 90px"
                 src="{{validator.info.image || '...'}}"
                 alt="{{validator.info.name || '...'}}">
          </div>
          <div class="text-center pt-1">
            <p class="description">{{validator.info.description || '...'}}</p>
          </div>
          <div style="display: grid; grid-template: 1fr 1fr  / 1fr 1fr;"
               class="col-12 text-center pt-2">
            <div>
              <h5>Annual Rate (APR)</h5>
            </div>
            <div>
              <h5>Staked amount</h5>
            </div>
            <div>
              <p class="metric">{{validator.reward.annual.toFixed(2) + '%' || '...'}}</p>
            </div>
            <div>
              <p class="metric">{{(stakedSum | async) || '...'}}</p>
            </div>
          </div>
          <div class="col-12 text-center pt-2">
            <div class="input-group input-group-lg">
              <div class="input-group-prepend">
              </div>
              <input placeholder="Enter ATOM to stake" type="number" class="form-control" aria-label="Large"
                     aria-describedby="inputGroup-sizing-sm">
            </div>
          </div>
          <div class="col-12 text-center pt-4 pb-4">
            <button class="btn btn-info btn-lg col-12">STAKE</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
